
 /*****BLOG MAIN CONTENT******/
.searchbar {
        text-align: right;
}

 .blog-container img {
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}

.blog-container  ul li {
    list-style: none;   
    border-bottom: 3px solid $heading-color;
    border-bottom-style: dotted;
    margin-top: 30px;   
}

.blog-posts a{
    text-decoration: none;  
}

.blog-posts a h4 {
    font-size: 1.5rem;
    color: $text-color;
    padding-top: 10px;
    padding-bottom: 10px;
}

.read-more {
    color: $heading-color; 
}
.date {
    padding-top: 10px;
    padding-bottom: 10px;
}
.arrow-right {
    color: $heading-color;
    font-size: 1rem;
}

/* Tablet Styles */ /** MY WORK CONTENT */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
      
}
/* Desktop Styles */ /* CORE CONTENT */
@media only screen and (min-width: 996px) {

    
    }