/* Blog posts content*/
.blog-pic img {
    max-width: 100%;
    height: auto;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 15px;
    margin-top: 10px;
}

.blog-posts-main {
    margin-bottom: 200px;
    padding-bottom: 100px;
}       

.page-changer  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 75px;
    font-style: italic;
    font-size: 1.2rem;
}
.page-changer  a{
    padding: 10px;
    text-decoration: none; 
    color: $text-color;   
    z-index: 1;
}

 
