/*****WELCOME INTRO SECTION******/

.intro-container {
    @include flex(column, center);
    margin-top: 200px;    

   
    h1 {
        font-size: 5em;
        font-family: $heading-font-family;
        font-weight: bold;
        margin-bottom: 25px;
        margin-top: 50px;
    span.features-special {
        color: $alternate-color;
        font-size: 6rem;
     }
    
    } 
    h3{
        font-size: 2em;
        margin-bottom: 30px; 
       
    }  
}
.intro_paragraph{
    p span.features-special {
        color: $alternate-color;
        font-size: 2rem;
        font-weight: 600;
    }
    p span:nth-child(4).features-special {
        color: $alternate-color;
        font-size: 2rem;
        font-weight: 600;
        font-family: $heading-font-family;
        }
    .more-button{
        margin-top: 50px;
        padding: 25px;
        font-size: 2.5rem;
        color: black;
        display:block;
        text-align:center;
        cursor: pointer;
        &:hover{ 
            color: $alternate-color;
            cursor: pointer;
          }
        }  
}

.intro-sec1 {
    margin: 5px;
    margin-right: 30px;
    margin-left: 30px;
}

.intro-content {
    margin-top: 5em;
    line-height: 2em;
    font-size: 1.2rem; 
    p{
        margin-top: 25px;
    }
    .stack {  
        margin-top: 75px;
        margin-bottom: 50px;
        font-family: $heading-font-family;
        @include flex(row, center);
        span {
            @include flex(column, center);
            border: 1px solid black;
            border-radius: 25px;
            padding: 10px;
            margin: 5px;
            font-size: .75em;
            background-color: black;
            color: white;  
        }
    }
    
}

  
/*******************************/

/* Tablet Styles */ /** MAIN CONTENT */
@media only screen and (min-width: 768px)  {
    .intro-sec1, .typewriter {
        margin-right: 150px;
        margin-left: 150px; 
    }
}
 
/* Desktop Styles */ /* MAIN CONTENT */
@media only screen and (min-width: 996px) {
    .intro-sec1, .typewriter{
        margin-right: 150px;
        margin-left: 150px;
    }

    .intro-container h2 {
        font-size: 5rem;
        
    }
    .intro-container h1 {
            font-size: 6rem;
        }
        p span.features-special {
        font-size: 3rem;
        }

        h1 span.features-special {
        font-size: 5rem;
        }

  }