

@mixin flex($direction, $justify) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    flex-direction: $direction;
  }

 @mixin background($colour, $url) {
    background-image: url(#{$url});
    background-position: center;
    background-size: cover;
    color: transparent;
   

    
    &:hover {
      color: black;
      background: $colour;
      transition: .5s ease-in;
    }
   
  }