

@mixin flex($direction, $justify) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    flex-direction: $direction;
  }

 @mixin background($colour, $url) {
    background-image: url(#{$url});
    background-position: center;
    background-size: cover;
    color: transparent;
    border-radius: 15px;
  @media only screen and (max-width: 600px)  {
     width: 275px; 
  }
    &:hover {
      color: black;
      background: $colour;
      transition: .5s ease-in;
    }
   
  }

