

@mixin flex($direction, $justify) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    flex-direction: $direction;
  }

 @mixin background($colour, $url) {
    background-image: url(#{$url});
    background-position: center;
    background-size: auto 450px;
    background-repeat: no-repeat;
    color: transparent;
   
    @media only screen and (max-width: 601px) {
      background-size: auto 280px !important;
    }  
    &:hover {
      color: black;
      background: $colour;
      transition: .5s ease-in;
    }
   
  }

