/* menu bar area drop down*/
  
.Navbar {
    background-color: $white-color;
    display: flex;
    padding: 16px;
    border-bottom: solid 1px $alternate-color;      
   
  }

  .Navbar__Link {
    padding-right: 8px;
    list-style: none;
    
  }
  .Navbar__Link-brand img {
    width: 50px;
  }

  .Navbar__Items {
    display: flex;
    text-decoration: none;
  }
  .item {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 50px;
    padding: 10px;
    color: $text-color;
    text-transform: uppercase;
  }
  

  .Navbar__Items--right {
    margin-left:auto;
    text-decoration: none;
  }
  
  .Navbar__Link-toggle {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
      text-decoration: none;
    }
    .Navbar__Items {
      display:none;
    }
    .Navbar__Items--right {
      margin-left:0;
      text-align: center;
    }
    .Navbar__ToggleShow {
      display: flex;
    }
    .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 

     .fa-bars{
      font-size: 25px;   
      margin-top: 5px;   
     }
     .item {
        color: $text-color;
        background-color: $alternate-color;
        text-decoration: none;
        display: flex;
        justify-content: center;
        width: 100%;  /*****EDIT THIS FOR BETTER NAV BAR**/
      }
  }