/* menu bar area drop down*/
/* Mobile menu */
header {
  background-color: $background-color;
  position: fixed;
  height: 70px;
  width: 100%;
}

header img {
  width: 2.5em;    
}
.Navbar {
    background-color: $white-color;
    display: flex;
    padding: 16px;
  }
  .Navbar__Link {
    padding-right: 8px;
    list-style: none;
  }
  .Navbar__Link-brand  {
  margin-top: 10px;
  }

  .Navbar__Items {
    margin-top: 5px;
    display: flex;
    text-decoration: none;
    margin-left:auto;
    text-decoration: none;
    border-bottom: 1px solid black;
    li:nth-child(2), li:nth-child(3), li:nth-child(4){
      border-left: 1px solid black;
    }
    .item {
      text-decoration: none;
      display: -webkit-box;    
      display: -ms-flexbox;
      display: flex;
      padding: 10px;
      color: $text-color;
      font-weight: 600;
      font-family: $heading-font-family;
    }
  }
  
  .se-logo {
    width: 150px;
    padding: 15px;
    border-radius: 50px;
    border: 2px solid black;
    font-weight: 600;
    font-size: 1.3em;
    font-family: $heading-font-family;
    
  }

  .Navbar__Link-toggle {
    display: none;
    transition:  2s ease;
  }
  
  @media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
      text-decoration: none;
      padding: 25px;
    }
    .Navbar__Items {   
      display:none;
      margin-left:0;
      text-align: center;
    
      li:nth-child(2), li:nth-child(3), li:nth-child(4){
        border-left: none;
      }
    }
  
    .Navbar__ToggleShow {
      display: flex;
      
    }
    .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     } 

     .fa-bars{
      font-size: 25px;   
      margin-top: 5px;   
     }
     .item {
        color: $text-color;
        text-decoration: none;
        display: flex;
        justify-content: center;
        
      }
  }