
.container {
    @include flex(column, center);
    width: 90vw;
    max-width: 1200px;
    margin-bottom: 200px;
    margin-top: 100px;   
   
    .project-heading{
      margin-bottom: 30px;
      padding: 10px;
      max-width: 1000px;
      font-family: $heading-font-family;
      .project{
        font-size: 3em;
        margin-bottom: 5px;
      }
      p {
        font-size: 1em;
        margin: 40px 0px 20px 0px;
      }
    }
    h4{
      margin-left: 10px;
    }
}

.all-projects{
    margin-top: 5%;
    @include flex(row, flex-start);
   
    a {
        text-decoration: none;
        color: white;
        flex: 1 1 50%;    
    }
    div {
        @include flex(column, center);
        height: 20em;
        overflow: hidden;
        margin: 0.5rem 0rem;
        padding: 20px;
       
        @media only screen and (min-width: 601px) {
          margin: 0.5rem 0.5rem;
         
        }  
        .tech-stack, .resource {
          position: relative;
          padding-top: 1em;
          width: 250px;
          left: 1rem;
          right: 1rem;
          li {
            display: inline-block;
            &:after {
              content: " / ";
            }
          }
        }

        h3 {
          font-family: $body-font-family;
          font-size: 2em;
          padding-left: 1rem;
          padding-top: 1rem;
          margin-right: 3em;
        }

        
    }
}

#ytc {
    @include background($background-color, "../imgs/ytc.jpg");
  }

#taskio {
    @include background($background-color, "../imgs/taskio.jpg");
  }

#readme {
    @include background($background-color, "../imgs/readme.jpg");
  }
#pokemon {
    @include background($background-color, "../imgs/pokemon.png");
  }
#rpsls {
    @include background($background-color, "../imgs/rpsls.jpg");

  }
#old_port {
    @include background($background-color, "../imgs/old_port.jpg");
  }

#new_port {
    @include background($background-color, "../imgs/new_port.jpg");
  }
#pokemon{
    @include background($background-color, "../imgs/poke.jpg");
  }



/* Phone Styles */ 
@media only screen and (max-width: 600px) {
  .project{ 
    font-size: 2em !important; 
  } 
   .container{
     overflow: hidden;
     div {
       justify-content: center;
     
     }
   }
  }

/* Tablet Styles */ 
@media only screen 
and (min-device-width: 601px) 
and (-webkit-min-device-pixel-ratio: 1) {
 
      
}
/* Desktop Styles */ 
@media only screen and (min-width:1201px) {
  .container {
    overflow-x: hidden;	    
    .container {	  
      width: 100vw;	      
  }	  
 }	
 }


/* Individual Project Styles */ 
.one-projects{
  margin-top: 5%;
  
  @include flex(row, flex-start);
  .main-project-heading{
    .project-single{
      font-size: 3em;
      margin-bottom: 5px;
      
    }
    p {
      font-size: 1em;
      margin: 40px 0px 20px 0px;
    }

  }
  p {
    margin: 20px 0px 40px 0px;
  }
  .resources{
    margin-top: 20px;
    margin-bottom: 20px;
   
    a {
      color: black;
      display: inline-block;
      text-decoration: none;
      &:after {
        content: " / ";
      }
      &:hover{ 
        background-color: $alternate-color;
        cursor: pointer;
      }
    }
    
  }

  .tech-stack {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: $heading-font-family;
    @include flex(row, flex-start);
    li {
        @include flex(column, center);
        border: 1px solid black;
        border-radius: 25px;
        padding: 10px;
        margin: 10px 10px 10px 0px;
        font-size: .8em;
        background-color: black;
        color: white;
    }
}
.TLDR{
    padding-top: 20px;
    padding-bottom: 30px;
}
.project-content {
  display: flex;
  background-color: lightgrey;
  padding: 5px;
  img{
     width: 100%;
     height: auto;
     border: 3px solid orange;
     display: block;
     margin: 0 auto;
     margin-top: 15px !important;
     margin-bottom: 15px !important;
     height: auto;
   }
   .content{
     margin: 10px;
     padding: 10px;
     font-size: 1rem;
     letter-spacing: .08em;
     line-height: 1.5em;
     font-weight: 500;
     width: 100%;
   }
 }

}    

/* Tablet Styles */ 
@media only screen 

and (max-width: 1025px) 
and (-webkit-min-device-pixel-ratio: 1) {
      .project-content {
        flex-flow: row wrap;
        img{
      
           width: 70% !important;
           display: block;
          margin: 0 auto;
          margin-top: 15px !important;
          margin-bottom: 15px !important;
     
         }
      }
            
}

/* Desktop Styles */ 
@media only screen and (min-width:1026px) {
  .project-content {

    img{
      width: 50% !important;
      display: block;
      margin: 0 auto;
      margin: 15px !important;
    }
    }
  }
  