
.container {
    @include flex(column, center);
    width: 75vw;
    max-width: 1000px;
    margin-bottom: 200px;
    margin-top: 100px;
  }

.all-projects{
    margin-top: 5%;
    @include flex(row, flex-start);
    a {
        text-decoration: none;
        color: white;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 25%;
   
    }
    div {
        @include flex(column, center);
        height: 350px;
        overflow: hidden;
        margin: 10px 0;
        
        .tech-stack, .resource {
          position: relative;
          padding-top: 1em;
          width: 300px;
          left: 2rem;
          
          li {
            display: inline-block;
            &:after {
              content: " / ";
            }
          }
        }

        h3 {
          font-family: $body-font-family;
          font-size: 2em;
          padding-left: 2rem;
          padding-top: 1rem;
          margin-right: 3em;
        }

        @media only screen and (min-width: 601px) {
          margin: 10px 10px;
        }
       
    }
}

#ytc {
    @include background($background-color, "../imgs/ytc.png");
  }

#taskio {
    @include background($background-color, "../imgs/taskio.png");
  }

#readme {
    @include background($background-color, "../imgs/readme.png");
  }
#pokemon {
    @include background($background-color, "../imgs/pokemon.png");
  }
#rpsls {
    @include background($background-color, "../imgs/rpsls.png");
  }
#old_port {
    @include background($background-color, "../imgs/old_port.png");
  }

#new_port {
    @include background($background-color, "../imgs/new_port.png");
  }
#pokemon{
    @include background($background-color, "../imgs/pokemon.png");
  }

  .project-heading{
   
    margin: 0 2rem 2rem 2rem ;
    padding: 0 2.5rem 2.5rem 2.5rem ;
    
    h3{
        left: 0;
    }
}




/* Phone Styles */ 
@media only screen and (max-width: 600px) {
    .container {

    }
  }

/* Tablet Styles */ 
@media only screen 
and (min-device-width: 601px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .container {
        overflow-x: hidden;
      }
      
}
/* Desktop Styles */ 
@media only screen and (min-width:1201px) {
.container {
    overflow-x: hidden;
    .container {
          
  }
 }
}

