
.container {
    @include flex(column, center);
    width: 65vw;
    max-width: 1000px;
    margin-bottom: 200px;
    margin-top: 100px;    
  }

.all-projects{
    margin-top: 5%;
    @include flex(row, flex-start);
    a {
        text-decoration: none;
        color: white;
        flex: 1 1 25%;
    }
    div {
        @include flex(column, center);
        height: 20em;
        overflow: hidden;
        margin: 0.5rem 0rem;
        
        
        .tech-stack, .resource {
          position: relative;
          padding-top: 1em;
          width: 300px;
          left: 2rem;
          
          li {
            display: inline-block;
            &:after {
              content: " / ";
            }
          }
        }

        h3 {
          font-family: $body-font-family;
          font-size: 2em;
          padding-left: 2rem;
          padding-top: 1rem;
          margin-right: 3em;
        }

        @media only screen and (min-width: 601px) {
          margin: 0.5rem 0.5rem;
        }
    
       
    }
}

#ytc {
    @include background($background-color, "../imgs/ytc.png");
  }

#taskio {
    @include background($background-color, "../imgs/taskio.png");
  }

#readme {
    @include background($background-color, "../imgs/readme.png");
  }
#pokemon {
    @include background($background-color, "../imgs/pokemon.png");
  }
#rpsls {
    @include background($background-color, "../imgs/rpsls.png");
  }
#old_port {
    @include background($background-color, "../imgs/old_port.png");
  }

#new_port {
    @include background($background-color, "../imgs/new_port.png");
  }
#pokemon{
    @include background($background-color, "../imgs/pokemon.png");
  }

.project-heading{
    margin-bottom: 80px;
    padding: 10px;
    width: 65vw;
    max-width: 1000px;
    h3{
        
        text-align: left;
       
    }
}

.project{ 
  position: absolute; 
  z-index: -1;
  font-size: 4em; 
  color: white; 
} 

.project::before {  
  content: attr(data-text); 
  position: absolute; 
  color: black; 
  overflow: hidden; 
  width: 0%; 
  transition: 1s; 
  animation: fillup 3s linear;
  animation-fill-mode: forwards;
} 

@keyframes fillup {
  to {
      width: 100%;   
  }
}



/* Phone Styles */ 
@media only screen and (max-width: 600px) {
    .container {
      width: 55vw;
    }
  }

/* Tablet Styles */ 
@media only screen 
and (min-device-width: 601px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .container {
        overflow-x: hidden;
        width: 75vw;
      }
      
}
/* Desktop Styles */ 
@media only screen and (min-width:1201px) {
.container {
    overflow-x: hidden;
    .container {
      width: 65vw;
  }
 }
}

