// create variables
/*$section-bkgd-color: aqua;
$hover-color: green;
$accent-color: red;*/

$alternate-color: #F4DBDB;
$heading-color: #0F9B9B;
$hover-color: darkblue;
$text-color: black; 
$background-2nd-color: rosybrown;
$white-color: white;
$heading-font-family: 'Libre Baskerville', serif;
$body-font-family: 'Montserrat', sans-serif;
/*font-family: 'Playfair Display', serif; font-family: 'Libre Baskerville', serif;*/