// create variables

$background-color: #6be8bf;  
$alternate-color: #6be8bf;  
$heading-color: darkgrey;
$hover-color: darkblue;
$text-color: black; 
$white-color: white;
$heading-font-family: 'Trispace', sans-serif;
$body-font-family: 'Montserrat', sans-serif;
      