@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/animations';
@import 'partials/nav';
@import 'partials/projects';
@import 'partials/homecontent';

@import 'partials/footer';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
} 

body {
    @include flex(row, center);
    width: 100vw;
    height: 100vh;
    font-family: $body-font-family;
    background: linear-gradient(90deg, $background-color 50%, $white-color 50%);
   
}

main {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 300px;
}

